[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto = "==2.49.0"
"boto3" = "==1.7.47"
botocore = "==1.10.72"

[dev-packages]
moto = "==1.3.4"

[requires]
python_version = "3.6"
